<div class="container">
    <div class="row">
        <div class="col-xs-12" id="siteName">
            <h1>Donut Contest</h1>
        </div>
        <div class="spacer"></div>
        <div class="col-xs-3 task">
            <div class="row">
                {{#each donut_data}}
                    {{#unless this.devoured}}
                <div class="col-xs-3">
                    <p>{{this.id}}. {{this.donut_name}}</p>
                </div>    
                <div class="col-xs-3">
                    <form method="POST" action="/donut/update?_method=PUT" class="button-size">
                        <input type="hidden" name="donut_id" type="text" value={{this.id}}>
                        <br>
                        <button type="submit" class="btn btn-outline-secondary">EAT, COMPETITIVELY</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="spacer"></div>
        <div class"col-xs-6 task">
            {{#each donut_data}}
                {{#if this.devoured}}
                <input class="form-control" type="text" placeholder="{{this.id}}. {{this.donut_name}}" readonly>
                {{/if}}
            {{/each}}   
        </div>
    </div>
</div>
<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center enter_section">
      <p>Enter in the next donut you will enjoy!</p>
      <form action="/donut/create" method="POST">
        <input type="text" name="donut_name" class="form-control" value="" id="enter_text">
        <button type="submit" class="btn btn-primary" id="text-enter-button">SUBMIT</button>
      </form>
    </div>
  </div>
</div>
